*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins', sans-serif;
}

body{
background:#f5eee6;
color:#4b3832;
}

/* HEADER */

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;
background:#4b3832;
color:white;
position:fixed;
width:100%;
top:0;
z-index:1000;
}

nav a{
color:#f5eee6;
margin-left:20px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:#d9b08c;
}

/* HERO SECTION */

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(to right,#4b3832,#854442);
color:#f5eee6;
text-align:center;
}

.hero h1{
font-size:50px;
margin-bottom:10px;
}

.hero p{
font-size:22px;
margin-bottom:20px;
}

.btn{
background:#d9b08c;
color:#4b3832;
padding:12px 25px;
text-decoration:none;
border-radius:5px;
font-weight:bold;
}

.btn:hover{
background:#f5eee6;
}

/* SECTIONS */

section{
padding:80px 20px;
text-align:center;
}

/* PHOTO */

.profile-pic{
width:160px;
border-radius:50%;
margin:20px;
}

/* SKILLS */

.skill{
width:60%;
margin:20px auto;
text-align:left;
}

.bar{
background:#e6d3c3;
height:10px;
border-radius:5px;
}

.bar span{
display:block;
height:10px;
background:#854442;
border-radius:5px;
}

/* PROJECTS */

.project-card{
background:#fff8f0;
padding:20px;
margin:20px auto;
width:300px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

/* CONTACT */

#contact{
background:#f5eee6;
}

/* FOOTER */

footer{
background:#4b3832;
color:#f5eee6;
text-align:center;
padding:20px;
}
section{
padding:80px 20px;
text-align:center;
opacity:0;
transform:translateY(30px);
animation:fadeIn 1s forwards;
}

@keyframes fadeIn{
to{
opacity:1;
transform:translateY(0);
}
}
body{
padding-top:80px;
}
.project-img{
width:100%;
border-radius:10px;
margin-bottom:10px;
}
footer i{
font-size:30px;
color:#d9b08c;
margin-top:10px;
}

footer i:hover{
color:white;
}
#services{
background:#fff8f0;
}

.service-card{
background:white;
padding:20px;
margin:20px auto;
width:300px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}
.project-card{
transition:0.3s;
}

.project-card:hover{
transform:translateY(-10px);
}
#topBtn{
position:fixed;
bottom:20px;
right:20px;
background:#854442;
color:white;
border:none;
padding:10px 15px;
font-size:20px;
border-radius:5px;
cursor:pointer;
}

#topBtn:hover{
background:#4b3832;
}
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#4b3832;
color:white;
}

.navbar ul{
display:flex;
list-style:none;
}

.navbar ul li{
margin-left:20px;
}

.navbar ul li a{
color:white;
text-decoration:none;
font-weight:bold;
}

.navbar ul li a:hover{
color:#d7b19d;
}
footer{
background:#4b3832;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}

footer a{
color:#d7b19d;
text-decoration:none;
}
